
<div class="ng-header">
  <div class="ng-header-left left">
    <div class="logo right">
      <img src="assets/images/lwcn-logo.png" class="logo-large" />
      <img src="assets/images/lwcn-logo-min.png" class="logo-small" />
    </div>
  </div>

 <div class="dropdown ng-header-right right">
    <button class="dropbtn">
      <a
        ><span [innerHtml]="user[0].profile.email" class="user-name"></span
        ><i class="fa fa-user"></i
      ></a>
    </button>

    <div class="dropdown-content">
      <a class="fa fa-user" (click)="showDialog()"
        ><font size="3" color="black" style="font-family:calibri"
          >&nbsp;Profil</font
        ></a
      >
      <a class="fa fa-sign-out-alt" (click)="logout()"
        ><font size="3" color="black" style="font-family:calibri"
          >&nbsp;Logout</font
        ></a
      >
    </div>
  </div>
</div>

<div
  class="p-grid p-xl-10 "
  style="height:87% ;width:100%;"
>
 
    
  <div
    class="content-wrapper p-col-10 p-offset-1"
    style="margin-top: 20px;"
  >
    <section class="content p-col-12" >
      <div class="row">
        <div class="col-md-12" >
          <div *ngFor="let pack of qpack; let i = index">
            <div [hidden]="i !== indeks">
                <div class="p-col-4 p-offset-4" style="height: 50px; margin-top: 10px;">
                    <!-- <p style="font-size: 25px;"></p> -->
                    <div style="text-align: center; font-size: 25px;">
                        {{hours}} : {{minutes}} : {{seconds}}
                    </div>
                  </div>
              <p-panel>
                
                <p-header>{{ "Soal Nomor " + (i + 1) }} </p-header>
                <!-- <div class="col-md-4"> -->

                <!-- <div class="ui-g-12">
                  <div class="ui-g-1" *ngFor="let item of qpack; let i = index">
                    <button
                      pButton
                     
                      (click)="numberQuestion(i)" 
                      style="height: 30px; padding-top: 5px;"
                    >
                      {{ i + 1 }}
                    </button>
                  </div>
                </div> -->

                <!-- </div> -->
                <!-- /.box-body -->
                <br>
                <strong> Question:</strong>
                <br><br>
                <p-card>
                  <p>{{ pack.question.questionDesc }}</p>
                </p-card>
                <br>
             
                <div *ngIf="pack?.question?.questionType?.questionTypeTitle === 'Pilihan Ganda Teks'; else templateName5">
                  <strong> Answer:</strong>
                <p>Pilih jawaban yang paling benar !</p>
                <br> <br>
                  <p-card>
                    <div class="form-group">
                  <div class="ui-g">
                    <div class="ui-g-6">
                            <input type="radio" name="gender{{i}}" value="{{pack.question.choice.choiceA}}"[(ngModel)]="aplicantAnswer.appAnswer.answer1">{{pack.question.choice.choiceA}}<br>
                    </div>
                    <div class="ui-g-6">
                      
                            <input type="radio" name="gender{{i}}" value="{{pack.question.choice.choiceB}}" [(ngModel)]="aplicantAnswer.appAnswer.answer1">{{pack.question.choice.choiceB}}<br>
                      
                    </div>
                    <div class="ui-g-6">
                   
                            <input type="radio" name="gender{{i}}" value="{{pack.question.choice.choiceC}}"[(ngModel)]="aplicantAnswer.appAnswer.answer1">{{pack.question.choice.choiceC}}<br>
                    </div>
                    <div class="ui-g-6">
                      
                            <input type="radio" name="gender{{i}}" value="{{pack.question.choice.choiceD}}"[(ngModel)]="aplicantAnswer.appAnswer.answer1">{{pack.question.choice.choiceD}}<br>
                      
                    </div>
                    <div class="ui-g-6">
                      
                            <input type="radio" name="gender{{i}}" value="{{pack.question.choice.choiceE}}"[(ngModel)]="aplicantAnswer.appAnswer.answer1">{{pack.question.choice.choiceE}}<br>
                      
                    </div>
                    
                
                    <!-- </div>  -->
                  </div>
                </div>
            </p-card>
          </div> 
                 <ng-template #templateName5>
                                        <div *ngIf="pack?.question?.questionType?.questionTypeTitle === 'Pilihan Ganda Gambar'; else templateName6">
                                          <strong> Answer:</strong>
                                          <p>Pilih jawaban yang paling benar !</p>
                                          <br> <br> 
                                          <p-card>
                                                <div class="form-group">
                                              <div class="ui-g">
                                                <div class="ui-g-6">
                                                        <input type="radio" name="gender{{i}}" value="{{pack.question.choice.choiceA}}"[(ngModel)]="aplicantAnswer.appAnswer.answer1"><img src="{{pack.question.choice.choiceA}}" alt="Image 1" style="height: 100px;width: 100px;"><br>
                                                </div>
                                                <div class="ui-g-6">
                                                  
                                                        <input type="radio" name="gender{{i}}" value="{{pack.question.choice.choiceB}}" [(ngModel)]="aplicantAnswer.appAnswer.answer1"><img src="{{pack.question.choice.choiceB}}" alt="Image 2"style="height: 100px;width: 100px;"><br>
                                                  
                                                </div>
                                                <div class="ui-g-6">
                                               
                                                        <input type="radio" name="gender{{i}}" value="{{pack.question.choice.choiceC}}"[(ngModel)]="aplicantAnswer.appAnswer.answer1"><img src="{{pack.question.choice.choiceC}}" alt="Image 1"style="height: 100px;width: 100px;"><br>
                                                </div>
                                                <div class="ui-g-6">
                                                  
                                                        <input type="radio" name="gender{{i}}" value="{{pack.question.choice.choiceD}}"[(ngModel)]="aplicantAnswer.appAnswer.answer1"><img src="{{pack.question.choice.choiceD}}" alt="Image 3"style="height: 100px;width: 100px;"><br>
                                                  
                                                </div>
                                                <div class="ui-g-6">
                                                  
                                                        <input type="radio" name="gender{{i}}" value="{{pack.question.choice.choiceE}}"[(ngModel)]="aplicantAnswer.appAnswer.answer1"><img src="{{pack.question.choice.choiceE}}" alt="Image 4"style="height: 100px;width: 100px;"><br>
                                                  
                                                </div>
                                             
                                              </div>
                                            </div>
                                        </p-card>
                                        </div>
                                    </ng-template>
                                    <ng-template #templateName6>
                                      <div *ngIf="pack?.question?.questionType?.questionTypeTitle === 'Essay'; else templateName7">
                                            <textarea></textarea>
                                        </div>
                                    </ng-template>
                                    <ng-template #templateName7>
                                      <strong> Answer:</strong>
                                      <p>Pilih 2 jawaban yang paling benar !</p>
                                      <br> <br> 
                                      <p-card>
                                          <div class="form-group">
                                              <div *ngIf="pack?.question?.questionType?.questionTypeTitle === 'Pilihan Ganda Teks 2'; else templateName5">
                                              <div class="ui-g">
                                                  <div class="ui-g-6"><p-checkbox name="group1" value="{{pack.question.choice.choiceA}}" label="{{pack.question.choice.choiceA}}" [(ngModel)]="selectedAnswer" inputId="a"></p-checkbox></div>
                                                  <div class="ui-g-6"><p-checkbox name="group1" value="{{pack.question.choice.choiceB}}" label="{{pack.question.choice.choiceB}}" [(ngModel)]="selectedAnswer" inputId="b"></p-checkbox></div>
                                                  <div class="ui-g-6"><p-checkbox name="group1" value="{{pack.question.choice.choiceC}}" label="{{pack.question.choice.choiceC}}" [(ngModel)]="selectedAnswer" inputId="c"></p-checkbox></div>
                                                  <div class="ui-g-6"><p-checkbox name="group1" value="{{pack.question.choice.choiceD}}" label="{{pack.question.choice.choiceD}}" [(ngModel)]="selectedAnswer" inputId="d"></p-checkbox></div>
                                                  <div class="ui-g-6"><p-checkbox name="group1" value="{{pack.question.choice.choiceE}}" label="{{pack.question.choice.choiceE}}" [(ngModel)]="selectedAnswer" inputId="d"></p-checkbox></div>
                                                </div>
                                          </div>
                                        </div>
                                        </p-card>
                                           </ng-template>
                                       
                                  

                

                <p-footer>
                    <div class="ui-g">
                  <div class="ui-g-1 p-offset-5">
                    <div [hidden]="i == 0">
                      <button
                        type="button"
                        pButton type="button" 
                        (click)="prevQuest(i)"
                        style="padding-top: 4px; height: 30px;">
                        <i class="fa fa-backward"></i> Prev
                      </button>
                    </div>
                  
                  </div>
                  <div class="ui-g-1">
                      <div *ngIf="i + 1 == qpack.length; else templateName8" >
                        <button
                          type="button"
                          pButton type="button"
                       
                          (click)="confirm1()"
                          style="padding-top: 4px; height: 30px;"
                        >
                          Submit
                        </button>
                      </div>
                    </div>
                    <div class="ui-g-1 ">
                      <ng-template #templateName8>
                       <div *ngIf="i + 1 != qpack.length && pack?.question?.questionType?.questionTypeTitle === 'Pilihan Ganda Teks 2'; else templateName9">
                        <button
                          type="button"
                          pButton type="button"
            
                          (click)="nextQuest1(i)"
                          style="padding-top: 4px; height: 30px;"
                        >Next1
                          <i class="fa fa-forward"></i> 
                        </button>
                      </div>
                      </ng-template>
                    </div>
                    <div class="ui-g-1 ">
                        <ng-template #templateName9>       
                          <button
                            type="button"
                            pButton type="button"
              
                            (click)="nextQuest(i)"
                            style="padding-top: 4px; height: 30px;"
                          >Next
                            <i class="fa fa-forward"></i> 
                          </button>
                  
                        </ng-template>
                      </div>
                </div>
            </p-footer>
             
              </p-panel>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box -->
    </section>
  </div>
</div>
<div class="ng-footer">
  <div>
    Copyrights © 2009-2017 Lawencon International - All Rights Reserved.
  </div>
</div>

<p-dialog
  header="Candidate Profil "
  [(visible)]="display"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '350px', minWidth: '200px' }"
  [minY]="70"
  [baseZIndex]="10000"
>
<div class="row mb-6 ui-g-12">
  <div class="col-sm-6 ui-g-6">Username</div>
  <div class="col-sm-6 ui-g-offset-6">:&nbsp;<i [innerHtml]="user[0].username"></i></div>

</div>
<hr/>
<div class="row mb-6 ui-g-12">
   <div class="col-sm-6 ui-g-6">Fullname</div>
   <div class="col-sm-6 ui-g-offset-6">:&nbsp;<i [innerHtml]="user[0].profile.profileName"></i></div>

</div>
<hr/>
<div class="row mb-6 ui-g-12">
<div class="col-sm-6 ui-g-6">Email</div>
<div class="col-sm-6 ui-g-offset-6">:&nbsp;<i [innerHtml]="user[0].profile.email"></i></div>
</div>
<hr/>
<div class="row mb-6 ui-g-12">
  <div class="col-sm-6 ui-g-6">Birthdate</div>
  <div class="col-sm-6 ui-g-offset-6">:&nbsp;<i [innerHtml]="user[0].profile.dob | date:'dd/MM/yyyy'"></i></div>
 </div>
 <hr/>
 <div class="row mb-6 ui-g-12">
  <div class="col-sm-6 ui-g-6">Gender</div>
  <div class="col-sm-6 ui-g-offset-6">:&nbsp;<i [innerHtml]="user[0].profile.gender"></i></div>
 </div>
 <hr/>
 <div class="row mb-6 ui-g-12">
  <div class="col-sm-6 ui-g-6">Phone</div>
  <div class="col-sm-6 ui-g-offset-6">:&nbsp;<i [innerHtml]="user[0].profile.phone"></i></div>
 </div>
 <hr/>
</p-dialog>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<p-dialog header="Linov Psikotest" [(visible)]="display1" [modal]="true" [style]="{width: '50vw'}"[baseZIndex]="10000"
    [draggable]="false" [resizable]="false"(onHide)="reload()" >
    <div style="padding: 20px;text-align: center;"> 
      <p>Anda sudah mengerjakan semua paket soal. Jawaban anda sudah kami rekam. Terimakasih sudah mengerjakan soal psikotest online. Pengumuman hasil test akan segera diinfokan melalui email anda.</p>

    </div>     
    <p-footer>
      <div class="p-col-2 p-offset-5">
        <button type="button" pButton icon="pi pi-check" (click)="logout()" label="OK"></button>
      </div>
    </p-footer>
    
</p-dialog>
<p-toast [style]="{marginTop: '80px'}" position="top-center" key="tt" (onClose)="reload1()" ></p-toast>
<p-toast [style]="{marginTop: '80px'}" position="top-center" key="tcu"></p-toast>