<div class="ng-header">
        <div class="ng-header-left left">
            <div class="logo right">
                <img src="assets/images/lwcn-logo.png" class="logo-large">
                <img src="assets/images/lwcn-logo-min.png" class="logo-small">
            </div>
        </div>
        <div class="dropdown ng-header-right right">
          <button class="dropbtn"><a><span [innerHtml]="user[0].profile.email" class="user-name"></span><i class="fa fa-user"></i></a></button>
          <div class="dropdown-content">
            <a class="fa fa-user" (click)="showDialog()"><font size="3" color="black" style = "font-family:calibri" >&nbsp;Profil</font></a>
            <a class="fa fa-sign-out-alt" (click)="logout()"><font size="3" color="black" style = "font-family:calibri" >&nbsp;Logout</font></a>

          </div>
        </div>
    </div>
 
    <p style="text-align: center;font-size: 30px;font-weight: bold;">{{pack.packageName}}</p>
    <p style="text-align: center;font-size: 15px;font-weight: bold;">({{pack.amountOfTime}} menit {{pack.amountOfQuestion}} soal)</p>


    <div class="p-grid " style="height:72% ;width:100%" >
        
            <div class="p-col-6 p-offset-3" >
               
                    <p-card  header="Instruksi :">
                            Psikotest ini terdiri dari beberapa paket soal. Setiap paket soal berisikan pertanyaan yang berbeda
                            dan cara penberjaan yang berbeda. Dimohon peserta agar membaca petunjuk pengerjaan soal dengan teliti. 
                            Petunjuk pengerjaan tiap paket soal akan muncul pada saat anda sudah memilih paket soal yang ingin dikerjakan 
                            terlebih dahulu. Anda bebas memilih paket soal mana yang ingin dikerjakan terlebih dahulu. Semoga beruntung.
                        </p-card>
          
            
           
           
            </div>
        
            <div class="p-md-2 p-offset-5" >
                    <button pButton type="button" label="Start" class="ui-button-success" (click)="goToStartTest(id)" ></button>
                </div>
    </div>
    
    
    <div class="ng-footer">
            <div>Copyrights © 2009-2017 Lawencon International - All Rights Reserved.
        </div>
    </div>
    
      
    
    <p-dialog header="Candidate Profil " [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
     [baseZIndex]="10000">
     <div class="row mb-6 ui-g-12">
        <div class="col-sm-6 ui-g-6">Username</div>
        <div class="col-sm-6 ui-g-offset-6">:&nbsp;<i [innerHtml]="user[0].username"></i></div>
    
    </div>
    <hr/>
    <div class="row mb-6 ui-g-12">
         <div class="col-sm-6 ui-g-6">Fullname</div>
         <div class="col-sm-6 ui-g-offset-6">:&nbsp;<i [innerHtml]="user[0].profile.profileName"></i></div>
    
     </div>
     <hr/>
    <div class="row mb-6 ui-g-12">
     <div class="col-sm-6 ui-g-6">Email</div>
     <div class="col-sm-6 ui-g-offset-6">:&nbsp;<i [innerHtml]="user[0].profile.email"></i></div>
    </div>
    <hr/>
    <div class="row mb-6 ui-g-12">
        <div class="col-sm-6 ui-g-6">Birthdate</div>
        <div class="col-sm-6 ui-g-offset-6">:&nbsp;<i [innerHtml]="user[0].profile.dob | date:'dd/MM/yyyy'"></i></div>
       </div>
       <hr/>
       <div class="row mb-6 ui-g-12">
        <div class="col-sm-6 ui-g-6">Gender</div>
        <div class="col-sm-6 ui-g-offset-6">:&nbsp;<i [innerHtml]="user[0].profile.gender"></i></div>
       </div>
       <hr/>
       <div class="row mb-6 ui-g-12">
        <div class="col-sm-6 ui-g-6">Phone</div>
        <div class="col-sm-6 ui-g-offset-6">:&nbsp;<i [innerHtml]="user[0].profile.phone"></i></div>
       </div>
       <hr/>
    </p-dialog>
    
    