<app-header-breadcrumb></app-header-breadcrumb>

<p-toast position="top-center" key="cc"[modal]="true" (onClose)="onReject()"  [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div style="text-align: center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                <h3>{{message.summary}}</h3>
                <p>{{message.detail}}</p>
            </div>
            <div class="ui-g ui-fluid">
                <div class="ui-g-6">
                        <a type="button" pButton (click)="DeleteQuestionType()" label="Yes" class="ui-button-success"></a>
                </div>
                <div class="ui-g-6">
                    <button type="button" (click)="onReject()" pButton label="No" class="ui-button-secondary"></button>
                </div>
            </div>
        </ng-template>
        
        </p-toast>
        <p-toast [style]="{marginTop: '80px'}" position="top-center" key="td"></p-toast>
        <p-toast [style]="{marginTop: '80px'}" position="top-center" key="tdt" (onClose)="reload()" ></p-toast>
<p-panel header="Question Type">
        <div class="p-col-12">
                <div><button pButton type="button"class="ui-button-raised  ui-button-success " style="width: 150px; height: 30px; float:right; font-size: px;" (click)="showDialog()" >
                    <font class="fa fa-plus-circle" style="font-style: Arial; padding-top: 5px;">&nbsp;&nbsp;Add New</font>
                    </button></div>
                             <div class="ui-inputgroup p-col-12" style="width: 500px;" >
                                    <span class="ui-inputgroup-addon " style="width: 200px;">
                                      <!-- <select class="custom-select" id="inputGroupSelect01" pInputText style="width: 90px; " >
                                      <option value="" selected data-default >Search by</option>
                                      <option value="Username">Username</option>
                                      <option value="Name">Name</option>
                                    </select> -->
                                    
        <p-dropdown [options]="cities1" ></p-dropdown>
                                </span>
                                    <input id="float-input-username" type="text" size="30" pInputText 
                                      required>
                                      <div class="ui-inputgroup-addon" style="width: 140px;">
                                        <button pButton type="button" label="Search" class="ui-button-rounded ui-button-primary"></button>
                                      </div>
                                  </div>
                                </div>

    <p-table [value]="type" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-type>
            <tr>
                <td *ngFor="let col of columns">
                    <div>{{type[col.field]}}</div>

                </td>
               
                <td style="text-align: center;">
                  <button  pButton type="button"  class="ui-button-rounded" style="width: 80px; height: 30px;font-size: 12px;" (click)="showDialog1(type.questionTypeId)" ><i class="fab fa-wpforms" style="font-size: 15px;text-align: center;padding-top: 6px;"></i>&nbsp;&nbsp;Edit</button>&nbsp;&nbsp;

                  <button pButton type="button" class="ui-button-rounded ui-button-danger"style="width: 80px; height: 30px;font-size: 12px;" (click)="showConfirm2(type.questionTypeId)"><i class="fas fa-trash-alt" style="font-size: 15px;text-align: center;padding-top: 6px;" ></i>&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;</td>

            </tr>
        </ng-template>
    </p-table>
</p-panel>

<p-dialog header="New Question Type " [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '550px', minWidth: '300px'}" [minY]="70"
 [baseZIndex]="10000">
 
        <div class="row mb-6 ui-g-12">
            <div class="col-sm-6 ui-g-6" ><strong>Question Type Title : </strong></div>
            <div class="col-sm-6 ui-g-6">
            <textarea [rows]="1" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="qtype.questionTypeTitle"></textarea>
            </div>
            
        </div>
        <hr/>
        
        <div class="row mb-6 ui-g-12">
            <div class="col-sm-3 ui-g-6"><strong>Answer Type : </strong></div>
            <div class="col-sm-6 ui-g-6">
            <textarea [rows]="1" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="qtype.answerType"></textarea>
        </div>
        </div>
        <hr/>
        <div class="p-col-12" style="padding-top: 10px;">
            <div class="ui-g-12 ui-md-6 " >
            <button pButton type="button" class="ui-button-success" style="height: 40px;" (click)="showConfirm()"><i class="pi pi-plus" style="padding-top: 8px;" ></i>&nbsp;Add</button>
            </div>
            <div class="ui-g-12 ui-md-6 ">
            <button  pButton type="button" class="ui-button-danger" style="height: 40px;" (click)="display=false"><i class="pi pi-times"style="padding-top: 8px;"  ></i>&nbsp;Cancel</button>
            </div>
            </div>
            <p-toast position="top-center" key="c"[modal]="true" (onClose)="onReject()"  [baseZIndex]="5000">
                    <ng-template let-message pTemplate="message">
                        <div style="text-align: center">
                            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                            <h3>{{message.summary}}</h3>
                            <p>{{message.detail}}</p>
                        </div>
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-6">
                                    <a type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></a>
                            </div>
                            <div class="ui-g-6">
                                <button type="button" (click)="onReject()" pButton label="No" class="ui-button-secondary"></button>
                            </div>
                        </div>
                    </ng-template>
                </p-toast>
                <p-toast [style]="{marginTop: '80px'}" position="top-center" key="ta"></p-toast>
                <p-toast [style]="{marginTop: '80px'}" position="top-center" key="tat" (onClose)="reload()" ></p-toast>
               
</p-dialog>

<p-dialog header="Update Question Type " [(visible)]="display2" [modal]="true" [responsive]="true" [style]="{width: '550px', minWidth: '300px'}" [minY]="70"
 [baseZIndex]="10000">
 
        <div class="row mb-6 ui-g-12">
            <div class="col-sm-6 ui-g-6" ><strong>Question Type Title : </strong></div>
            <div class="col-sm-6 ui-g-6">
            <textarea [rows]="1" [cols]="30" pInputTextarea autoResize="autoResize"  [(ngModel)]="baru.questionTypeTitle"></textarea>
            </div>
            
        </div>
        <hr/>
        
        <div class="row mb-6 ui-g-12">
            <div class="col-sm-3 ui-g-6"><strong>Answer Type : </strong></div>
            <div class="col-sm-6 ui-g-6">
            <textarea [rows]="1" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="baru.answerType"></textarea>
        </div>
        </div>
        <hr/>
        <div class="p-col-12" style="padding-top: 10px;">
            <div class="ui-g-12 ui-md-6 " >
            <button pButton type="button" class="ui-button-success" style="height: 40px;" (click)="showConfirm3()"><i class="pi pi-plus" style="padding-top: 8px;" ></i>&nbsp;Add</button>
            </div>
            <div class="ui-g-12 ui-md-6 ">
            <button  pButton type="button" class="ui-button-danger" style="height: 40px;" (click)="display2=false"><i class="pi pi-times"style="padding-top: 8px;"  ></i>&nbsp;Cancel</button>
            </div>
            </div>
                <p-toast position="top-center" key="ccc"[modal]="true" (onClose)="onReject()"  [baseZIndex]="5000">
                    <ng-template let-message pTemplate="message">
                        <div style="text-align: center">
                            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                            <h3>{{message.summary}}</h3>
                            <p>{{message.detail}}</p>
                        </div>
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-6">
                                    <a type="button" pButton (click)="onConfirm2()" label="Yes" class="ui-button-success"></a>
                            </div>
                            <div class="ui-g-6">
                                <button type="button" (click)="onReject()" pButton label="No" class="ui-button-secondary"></button>
                            </div>
                        </div>
                    </ng-template>
                </p-toast>
                <p-toast [style]="{marginTop: '80px'}" position="top-center" key="tu"></p-toast>
                <p-toast [style]="{marginTop: '80px'}" position="top-center" key="tut" (onClose)="reload()" ></p-toast>
    
               
</p-dialog>