<app-header-breadcrumb></app-header-breadcrumb>
<p-panel header="Assign Question">
<div class="p-col-12">
        <div><button pButton type="button"class="ui-button-raised  ui-button-success " style="width: 150px; height: 30px; float:right; font-size: px;" (click)="showDialog()" >
            <font class="fa fa-plus-circle" style="font-style: Arial; padding-top: 5px;">&nbsp;&nbsp;Add New</font>
            </button></div>
                     <div class="ui-inputgroup p-col-12" style="width: 500px;" >
                            <span class="ui-inputgroup-addon " style="width: 200px;">
                              <!-- <select class="custom-select" id="inputGroupSelect01" pInputText style="width: 90px; " >
                              <option value="" selected data-default >Search by</option>
                              <option value="Username">Username</option>
                              <option value="Name">Name</option>
                            </select> -->
                            
<p-dropdown [options]="cities1" ></p-dropdown>
                        </span>
                            <input id="float-input-username" type="text" size="30" pInputText 
                              required>
                              <div class="ui-inputgroup-addon" style="width: 140px;">
                                <button pButton type="button" label="Search" class="ui-button-rounded ui-button-primary"></button>
                              </div>
                          </div>
                        </div>

    <p-table [value]="assignpack" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-assignpack>
            <tr>
                <td *ngFor="let col of columns">
                    <div *ngIf="col.field3 == ''">{{assignpack[col.field][col.field2]}}</div>
                    <div>{{assignpack[col.field][col.field2][col.field3]}}</div>
                    
                </td>
                <td>
                </td>
                <td style="text-align: center;">
                        <!-- <button  pButton type="button"  class="ui-button-rounded" style="width: 80px; height: 30px;font-size: 12px;" (click)="showDialog()"><i class="fab fa-wpforms" style="font-size: 15px;text-align: center;padding-top: 6px;"></i>&nbsp;&nbsp;Edit</button>&nbsp;&nbsp; -->

                        <button pButton type="button" class="ui-button-rounded ui-button-danger"style="width: 80px; height: 30px;font-size: 12px;" (click)="showConfirm2(assignpack.assignQuestionId)"><i class="fas fa-trash-alt" style="font-size: 15px;text-align: center;padding-top: 6px;"></i>&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;
            </tr>
        </ng-template>
    </p-table>
  
</p-panel> &nbsp; 

<p-dialog header="Update Assign Question " [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '550px', minWidth: '300px'}" [minY]="70"
 [baseZIndex]="10000">
 
        <div class="row mb-6 ui-g-12">
            <div class="col-sm-6 ui-g-6" ><strong>Question Pack : </strong></div>
            <p-dropdown class="col-sm-6 ui-g-6"  [options]="questionpack" placeholder="Select new Pack" [(ngModel)]="questionpack2" optionLabel="packageName"></p-dropdown>
            
            
        </div>
        <hr/>
        
        <div class="row mb-6 ui-g-12">
            <div class="col-sm-3 ui-g-6"><strong>Candidate : </strong></div>
            <p-dropdown class="col-sm-6 ui-g-6" [options]="candidate"  placeholder="Select new Candidate" [(ngModel)]="candidate2" optionLabel="profile.profileName"></p-dropdown>
            
        </div>
        <hr/>
        <div class="p-col-12" style="padding-top: 10px;">
            <div class="ui-g-12 ui-md-6 " >
            <button pButton type="button" class="ui-button-success" style="height: 40px;" (click)="showConfirm()"><i class="pi pi-plus" style="padding-top: 8px;" ></i>&nbsp;Add</button>
            </div>
            <div class="ui-g-12 ui-md-6 ">
            <button  pButton type="button" class="ui-button-danger" style="height: 40px;" (click)="display=false"><i class="pi pi-times"style="padding-top: 8px;"  ></i>&nbsp;Cancel</button>
            </div>
            </div>
            <p-toast position="top-center" key="c"[modal]="true" (onClose)="onReject()"  [baseZIndex]="5000">
                    <ng-template let-message pTemplate="message">
                        <div style="text-align: center">
                            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                            <h3>{{message.summary}}</h3>
                            <p>{{message.detail}}</p>
                        </div>
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-6">
                                    <a type="button" pButton (click)="onConfirm()"  label="Yes" class="ui-button-success"></a>
                            </div>
                            <div class="ui-g-6">
                                <button type="button" (click)="onReject()" pButton label="No" class="ui-button-secondary"></button>
                            </div>
                        </div>
                    </ng-template>
                </p-toast>
                <p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc"></p-toast>
    
               
</p-dialog>
<p-toast position="top-center" key="cc"[modal]="true" (onClose)="onReject()"  [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div style="text-align: center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                <h3>{{message.summary}}</h3>
                <p>{{message.detail}}</p>
            </div>
            <div class="ui-g ui-fluid">
                <div class="ui-g-6">
                        <a   type="button" pButton (click)="DeleteAssinQuestion()"  label="Yes" class="ui-button-success"></a>
                </div>
                <div class="ui-g-6">
                    <button type="button" (click)="onReject()" pButton label="No" class="ui-button-secondary"></button>
                </div>
            </div>
        </ng-template>
       
    </p-toast>
 <p-toast [style]="{marginTop: '80px'}" position="top-center" key="tt"></p-toast>
 <p-toast [style]="{marginTop: '80px'}" position="top-center" key="ttt" (onClose)="reload()" ></p-toast>
 <p-dialog header="New Assign Question " [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '550px', minWidth: '300px'}" [minY]="70"
 [baseZIndex]="10000">
 
        <div class="row mb-6 ui-g-12">
            <div class="col-sm-6 ui-g-6" ><strong>Question Pack : </strong></div>
            <p-dropdown class="col-sm-6 ui-g-6"  [options]="questionpack" placeholder="Select a Pack" [(ngModel)]="questionpack2" optionLabel="packageName"></p-dropdown>
            
            
        </div>
        <hr/>
        
        <div class="row mb-6 ui-g-12">
            <div class="col-sm-3 ui-g-6"><strong>Candidate : </strong></div>
            <p-dropdown class="col-sm-6 ui-g-6" [options]="candidate"  placeholder="Select a Candidate" [(ngModel)]="candidate2" optionLabel="profile.profileName"></p-dropdown>
            
        </div>
        <hr/>
        <div class="p-col-12" style="padding-top: 10px;">
            <div class="ui-g-12 ui-md-6 " >
            <button pButton type="button" class="ui-button-success" style="height: 40px;" (click)="showConfirm()"><i class="pi pi-plus" style="padding-top: 8px;" ></i>&nbsp;Add</button>
            </div>
            <div class="ui-g-12 ui-md-6 ">
            <button  pButton type="button" class="ui-button-danger" style="height: 40px;"><i class="pi pi-times"style="padding-top: 8px;"  ></i>&nbsp;Cancel</button>
            </div>
            </div>
            <p-toast position="top-center" key="c"[modal]="true" (onClose)="onReject()"  [baseZIndex]="5000">
                    <ng-template let-message pTemplate="message">
                        <div style="text-align: center">
                            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                            <h3>{{message.summary}}</h3>
                            <p>{{message.detail}}</p>
                        </div>
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-6">
                                    <a type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></a>
                            </div>
                            <div class="ui-g-6">
                                <button type="button" (click)="onReject()" pButton label="No" class="ui-button-secondary"></button>
                            </div>
                        </div>
                    </ng-template>
                </p-toast>
                <p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc"></p-toast>
                <p-toast [style]="{marginTop: '80px'}" position="top-center" key="tct" (onClose)="reload()" ></p-toast>
    
               
</p-dialog>